<header class="header-aside">
  <nav>
    <div class="logo-ultra">
      <img src="/img/ulta.png" alt="Logo Ultragaz" />
    </div>

    <div class="container-menu">
      <ul class="menu-links">
        <li>
          <a href="/dashboard">
            <span class="menu-svg"><img src="/img/dashboard-svgrepo-com.svg" alt="Dashboard" width="40" height="40" /></span>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/estoque">
            <span class="menu-svg"><img src="/img/stock-svgrepo-com.svg" alt="Estoque" width="40" height="30" /></span>
            Controle de Estoque
          </a>
        </li>
        <li>
          <a href="/funcionarios">
            <span><img src="/img/employee-id-svgrepo-com.svg" alt="Empregado" width="40" height="35" /></span>
            Gestão de Funcionário
          </a>
        </li>
        <li>
          <a href="/venda">
            <span><img src="/img/shop-2-svgrepo-com (1).svg" alt="Venda" width="40" height="35" /></span>
            Venda
          </a>
        </li>
        <li>
          <a href="/">
            <span><img src="/img/exit-svgrepo-com.svg" alt="Saida" width="40" height="35" /></span>
            Sair
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
