@import url(menu-aside.css);
@import url(menu-aside-logado.css);

/* CONTAINER PRINCIPAL */
.dash-container {
    background: #f5f7fb;
    width: 100%;
    margin-left: 220px;
    min-height: 100vh;
    padding: 24px;
}

.container-content {
    margin-left: 20px;
    margin-right: 20px;
}

/* CARDS */
.dash-cards {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.dash-card {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 14px;
    border-left: 6px solid #0061A2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    transition: 0.2s;
}

.dash-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
}

/* Títulos dos cards */
.dash-card h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

/* Valor do card */
.dash-card p {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #0061A2;
}

/* FILTROS */
.dash-filtros {
    display: flex;
    gap: 14px;
    margin-bottom: 22px;
}

.dash-filtros label {
    font-weight: bold;
}

.dash-filtros input {
    padding: 6px 8px;
}

#btnAplicarFiltros,
#btnHoje {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #0061A2;
    color: white;
}

#btnHoje {
    background: #0097ff;
}

/* GRÁFICOS */
.dash-graficos {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.dash-graficos>div {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* TABELA */
.tabela-dash {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.tabela-dash th {
    background: #0061A2;
    color: white;
    padding: 12px;
}

.tabela-dash td {
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .dash-cards {
        flex-direction: column;
    }

    .dash-graficos {
        flex-direction: column;
    }
}