<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/estoque.css" />
  <title></title>
</head>

<body>
  <main class="container">
     <%- include('partials/navbar') %>


    <section class="estq-container">
      <div class="estq-content">
        <h1>Controle de Estoque</h1>
        <div class="estq-card">
          <div class="tabela-cabecalho">
            <span class="coluna nome-prod">NOME PROD</span>
            <span class="coluna tipo">TIPO</span>
            <span class="coluna quantidade">QUANTIDADE</span>
            <span class="coluna acoes"></span>
          </div>
          
          <div class="tabela-corpo" id="tabela-corpo">
            <div class="tabela-linha">
            </div>
          </div>

          <div class="botoes-globais">
            <button class="btn-global registrar" id="abrirModal">
              Registrar Produto
            </button>
            <button class="btn-global historico">Acessar Histórico</button>
          </div>
        </div>
      </div>

<!-- 
      MODAL DE ADD PRODUTO -->
      <div class="modal" id="modal">
        <div class="modal-content">
          <span class="close" id="close">&times;</span>
          <h2>Cadastro de Produto</h2>
          <input type="text" id="nome" placeholder="Nome do Produto" />
          <input type="text" id="tipo" placeholder="Tipo" />
          <input type="number" id="quantidade" placeholder="Quantidade" />
          <input type="number" id="preco" placeholder="Preço" />
          <button class="btn-cadastrar" id="cadastrar">Cadastrar</button>
        </div>
      </div>
<!-- 
      MODAL DE EDITAR PRODUTO -->

      <div class="modal" id="modalEditar">
        <div class="modal-content">
          <span class="close" id="closeEditar">&times;</span>
          <h2>Editar Produto</h2>
          <input type="number" id="editQuantidade" placeholder="Quantidade">
          <input type="number" id="editPreco" placeholder="Preço">
          <button class="btn-cadastrar" id="salvarEdicao">Salvar</button>
        </div>
      </div>
      <script src="/js/estoque.js"></script>
    </section>
  </main>
</body>

</html>