<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

   
        <header class="header-aside">
            <nav>
                <div class="logo-ultra">
                    <img src="/img/ulta.png" alt="Logo Ultragaz" srcset="">
                </div>
            </nav>
        </header>
         <main class="container">
        <section class="login-sec">
            <div class="login-txt">
                <h1>ULTRAGAZ</h1>
                <h2>Sistema Empresarial</h2>
            </div>

            
            </div>

            <div class="login-box">
                <form action="/login" method="POST" class="login-form">
                    <div class="form-login">
                        <label for="usuario">Usuario</label>
                        <input type="text" name="usuario" id="usuario" required>
                    </div>
                    <div class="form-login">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" required>
                        <div id="login-error-message" style="color: rgb(214, 10, 10); text-align: right;"></div>
                    </div>
                    <button type="submit" id="btnLogin">Entrar</button>
                </form>
            </div>
            <script src="/js/index.js"></script>
        </section>
    </main>
</body>
</html>